<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AzureConnection" connectionString="UseDevelopmentStorage=true" />
	</connectionStrings>
	<appSettings>
		<add key="azureTableName" value="ateatable"/>
		<add key="azureBlobContainerName" value="ateablob"/>
		<add key="apiEndpoint" value="https://api.publicapis.org"/>
	</appSettings>
</configuration>